# Ignore log files
*.log

# Ignore build files
frontend/build/

# Ignore node.js
frontend/node_modules/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Node.js cache
.cache/

# Ignore virtual environment
venv/
